{% extends 'admin/admin_base.html.twig' %}

{% block title %}Administration de .. nous{% endblock %}

{% block body %}
<h1 class="text-center mt-5 mb-5">Administration de .. nous</h2>

    <div class="d-flex justify-content-around mt-5 mb-5">
        {% for quiSuisJe in quiSommesNous %}
            <div class="card ombre" style="width: 18rem;">
                <img src="../{{ quiSuisJe.pdp }}" class="card-img-top" alt="image de moi">
                <div class="card-body">
                <h5 class="card-title">{{ quiSuisJe.firstName ~ " " ~ quiSuisJe.name }}</h5>
                <p class="card-text">{{ quiSuisJe.description }}</p>
                <p class="card-text">{{ quiSuisJe.email }}</a>
                <a href="{{ path('admin_quiSommesNous_modify', {'id' : quiSuisJe.id }) }}" class="btn btn-outline-warning">Modifier</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}